<!-- <mat-card class="game-card">
    <mat-card-content>
        <h3 *ngIf="game?.type">Game Type: {{ game ? game.type : "" }}</h3>
        <div class="tags" *ngIf="game?.tags">
            <span class="tag" *ngFor="let tag of game?.tags">
                {{ tag }}
            </span>
        </div>
    </mat-card-content>
</mat-card> -->

<h1>{{ game?.title }}</h1>
<img *ngIf="game?.imgURL" [src]='game?.imgURL' [alt]='game?.title' width="300">
<img *ngIf="!game?.imgURL" src="https://www.seekpng.com/png/detail/820-8209893_game-controller-hand-drawn-tool-comments-transparent-background.png" alt="Default Image" />
<p class="description">{{ game ? game.description : ""}}</p>
<div class="meta-content">
    <h2>Creator: {{ game?.creator }}</h2>
    <h3 *ngIf="game?.type">Game Type: {{ game ? game.type : "" }}</h3>
    <div class="tags" *ngIf="game?.tags">
        <span  class="tag" *ngFor="let tag of game?.tags">
            {{ tag }}
        </span>
    </div>
</div>