<h2 *ngIf="!data.title" mat-dialog-title>Add New Game</h2>
<h2 *ngIf="data.title" mat-dialog-title>Update Game</h2>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input matInput matTooltip="Add a game title." matTooltipPosition="above" name="title" [(ngModel)]="newGame.title">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="description">Description</mat-label>
        <input matInput matTooltip="Give a description of the game." matTooltipPosition="above" name="description" [(ngModel)]="newGame.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="creator">Creator</mat-label>
        <input matInput matTooltip="Who made the game?" matTooltipPosition="above" name="creator" [(ngModel)]="newGame.creator">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="imgURL">ImgUrl</mat-label>
        <input matInput matTooltip="Google an image and copy the URL." matTooltipPosition="above" name="imgUrl" [(ngModel)]="newGame.imgURL">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="type">Type</mat-label>
        <input matInput matTooltip="Add a game type." matTooltipPosition="above" name="type" [(ngModel)]="newGame.type">
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label for="tags">Tags</mat-label>
        <input matInput matTooltip="It's like Twitter" matTooltipPosition="above" name="tags" [(ngModel)]="tempTags">
    </mat-form-field> -->
</div>
 <div class="actions" mat-dialog-actions>
    <button *ngIf="!data.title" mat-raised-button color="primary" (click)="addGameFromChild()">Add Game</button>
    <button *ngIf="data.title" mat-raised-button color="primary" (click)="updateGameFromChild()">Update Game</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</div>